<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog configuration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script>
	function btn_cancel() {
		window.location = "/tumblr02/";
	}
</script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-8">
			<form class="form-narrow form-horizontal" method="post"
				th:action="@{/account/configuration/blogconfiguration/{id}(id=${blog.blogId})}"
				th:object="${blogConfigurationForm}" enctype="multipart/form-data">
				<!--/* Show general error message when form contains errors */-->
				<th:block th:if="${#fields.hasErrors('${blogConfigurationForm.*}')}">
					<div
						th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
				</th:block>
				<fieldset>
					<legend th:text="${blog.name}"></legend>

					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
								<img th:if="${blog.image}"
									th:src="@{/images/{id}-{id2}-blog.jpg(id=${account.id}, id2=${blog.blogId})}"
									class="img-circle" width="90" height="90"> <img
									th:unless="${blog.image}" th:src="@{/images/default.jpg}"
									class="img-circle" width="90" height="90">
							</div>
							<div class="col-md-8">
								<label for="file">Select a new blog image (only .jpg)</label> <input
									type="file" name="file" id="file" />
							</div>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label for="name" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="name"
								th:placeholder="${blog.name}" th:field="*{name}" /> <span
								class="help-block" th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}">Incorrect name</span>
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('title')}? 'has-error'">
						<label for="title" class="col-lg-2 control-label">Title</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="title"
								th:placeholder="${blog.title}" th:field="*{title}" /> <span
								class="help-block" th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}">Incorrect title</span>
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label for="description" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-12">
							<textarea class="form-control" rows="5" id="description"
								th:placeholder="${blog.description}" th:field="*{description}"></textarea>
							<span class="help-block"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}">Incorrect description</span>
						</div>
					</div>

					<input id="privacy" type="checkbox" th:field="${blog.privacy}">Private<br>
					<br>

					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save
							changes
						</button>
						<button type="button" onclick="btn_cancel()"
							class="btn btn-default">Cancel</button>
					</div>

				</fieldset>
			</form>
		</div>

		<br>
		<div class="col-xs-6 col-md-3">
			<div class="list-group">
				<a href="#" th:href="@{/account/configuration}"
					class="list-group-item">Account</a> <br>
				<legend>Blogs</legend>
				<tr th:each="blog : ${account.blogs}">
				<tr th:each="blog2 : ${account.blogs}">
					<a th:if="${blog2.blogId}==${blog.blogId} "
						class="list-group-item active"
						th:href="@{/account/configuration/blogconfiguration/{id}(id=${blog2.blogId})}"
						th:text="${blog2.name}"> Name</a>
					<a th:unless="${blog2.blogId}==${blog.blogId} "
						class="list-group-item"
						th:href="@{/account/configuration/blogconfiguration/{id}(id=${blog2.blogId})}"
						th:text="${blog2.name}"> Name</a>
				</tr>


			</div>
			<a href="/createBlog" th:href="@{/createBlog}"
				onclick="$('#form').submit();"> <span
				class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create
				a new blog
			</a>
		</div>
	</div>




</body>
</html>